* {
  margin: 0;
  padding: 0;
}

/* font family */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color-white: #fff;
  --bg-color-light-down: #ccc;
  --bg-sidebar-bg-color: rgb(64, 178, 223);
  --black-small-icon-size: 1.5rem;
  --text-color-white: #fff;
  --text-color-black: #252525;
  --text-color-black-opcacity: #413f3fe1;
  --cards-left-side-border-color: rgb(238, 175, 58);
  --button-color: rgb(59, 117, 197);
}

html {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

body {
  width: 100%;
}


.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
}


/* header section */
.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(1 ,2fr) repeat(1, 1fr);
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: var(--bg-color-white);
}

.header .top-bar-container {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(1 ,2fr) repeat(1, 1fr);
  align-items: center;
}

.top-bar-container .search-components {
  display: flex;
  align-items: center;
}

.search-components #search-icon {
  color: var(--text-color-black);
  font-size: var(--black-small-icon-size);
  margin-right: 1rem;
}

.search-components input[type='search'] {
  background-color: var(--bg-color-light-down);
  width: 90%;
  border-radius: 1rem;
  border: none;
  height: 20px;
}

.user-info-components {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.user-info-components #notification-icon {
  color: var(--text-color-black);
  font-size: var(--black-small-icon-size)
}

.user-info-components #user-dp1{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.user-info-components .user-name {
  color: var(--text-color-black);
  font-size: 0.9rem;
  font-weight: bold;
}

/* user profile container */
.user-profile-container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
}

.user-profile-container .profile-info {
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9;
}

.profile-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-info .user-wish-user-name {
  color: var(--text-color-black);
  font-weight: bold;
}

.user-wish-user-name .wish-text {
  font-size: 0.9rem;
}

.user-wish-user-name .user-name {
  font-size: 1.2rem;
}

.action-container {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center;
  padding: 2px;
  display: flex;
  gap: 1rem;
}

.action-container .btn {
  width: 95px;
  height: 35px;
  border-radius: 1rem;
  border: none;
  background-color: var(--button-color);
  color: var(--bg-color-white);
  font-weight: bold;
  font-size: 1rem;
  
}
/* header section */

/* sidebar section */
.sidebar {
  grid-row: 1 / 3;
  background-color: var(--bg-sidebar-bg-color);
  display: grid;
  grid-auto-rows: auto;
  gap: 1.2rem;
  padding: 1rem;
}

.full-row .user-options, .full-row .privacy-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--bg-color-white);
  font-size: 1.1rem;
  margin: 1rem 0;
}

.sidebar .full-row .user-options #dashboard-logo {
  font-size: 2.5rem;
  font-weight: bold;
}

.full-row .user-options:first-child {
  margin-bottom: 2.5rem;
}

.full-row .second-row {
  margin-top: 2.5rem;
}
.full-row .user-options .main-option {
  font-size: 1.5rem;
  font-weight: bold;
}
/* sidebar section */


/* main section */
.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
  background-color: var(--bg-color-light-down);
  padding: 1rem;
}


/* project section */
.menu1 .your-project {
  margin: 1rem 1rem 0;
  grid-column: 1 / 2;
  padding: 0.5rem;
  font-weight: bold;
}


.main .project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 190px;
  gap: 1rem;
  display: grid;
}

.project-section .card {
  display: grid;
  grid-template: repeat(1, 1fr);
  padding: 0.5rem;
  background-color: var(--bg-color-white);
  border-radius: 0.5rem;
  border-left: 8px solid;
  border-left-color: var(--cards-left-side-border-color);
  box-shadow: 1px 2px 3px #25252571;

}

.card .actions {
  justify-self: end;
}

.card > p {
  font-size: 0.9rem;
  color: var(--text-color-black-opcacity);
}

.card .actions span {
  font-size: 1rem;
  letter-spacing: 1rem;
}

/* aside - section */
.aside-section {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: start;
  gap: 1rem;
  padding: 1rem;
}

.menu2 .announcement {
  text-align: left;
  padding: 0.5rem;
  font-weight: bold;
}

.menu2 .announcements-section .big-card {
  background-color: var(--bg-color-white);
  padding: 1.5rem 2rem; 
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px #25252571;
}

.big-card > p {
  font-size: 0.9rem;
  color: var(--text-color-black-opcacity);
}

.big-card .line {
  border-bottom: 1px solid var(--text-color-black-opcacity);
  opacity: 0.5;
  margin: 1rem 0;
}

.menu3 .trending {
  font-weight: bold;
  margin: 1rem 0;
}
.menu3 .trending-section .profile-card{
  border-radius: 0.5rem;
  background-color: var(--bg-color-white);
  padding: 0.5rem 2rem;
  box-shadow: 1px 2px 3px #25252571;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.profile-card .users-tags {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.users-tags .user-name-tag {
  font-weight: bold;
}


/* main section */